
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Cart67 admin</a>
    <span class="example-spacer"></span>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <mat-select style="width: 8vw;" *ngIf="isLoggedIn" [(value)]="selectedStore" (selectionChange)="storeChange()">
            <mat-option value="none">
                None
            </mat-option>
            <mat-option *ngFor="let store of stores" value={{store.id}}>
                {{store.name}}
            </mat-option>
        </mat-select>
        
       
            <ul class="navbar-nav" *ngIf="isLoggedIn">
                <li class="nav-item active">
                    <a  class="nav-link" routerLink="/profile">{{user}}</a>
                </li>
                <li  class="nav-item active">
                    <button class="nav-link" (click)="logout()" type="button" class="btn btn-light">Logout <span class="sr-only">(current)</span></button>
                </li>
            </ul>
    </div>

</nav>