#navigationCart {
    background-color: #182C51;
    /* position: fixed; */
    width: 100%;
    z-index: 9;
}

.avatar {
    vertical-align: middle;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.do-overflow {
    overflow: visible;
}

.nav-items {
    float: right;
}

.nav-items i {
    margin-left: 5px;
    vertical-align: middle;
}
.nav-link {
    display: inline-block;
    vertical-align: middle;
    color: white !important;
    font-weight: 700;
    cursor: pointer;
    padding: 0px 1rem !important;
}
.nav-link:hover {
    color: white;
}
.sitetitlers {
    margin: 0px;
    color: white;
}
.cartvaluesCount {
    right: 14px;
    top: -8px;
    text-align: center;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #ffac00;
    border: 1px solid #fff;
    font-weight: 600;
    color: #000000;
    line-height: 16px;
    font-size: 10px;
}
.routernav {
    text-decoration: none;
}
.profileName {
    color: #ccc !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    padding: 0px !important;
}
.clientAddress {
    display: block;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    padding-bottom: 5px;
}
.clientAddress i {
    margin-right: 5px;
    margin-left: 0px !important;
    vertical-align: unset;
}
.profileMenu {
    padding: 5px 30px;
    margin: 0px;
    list-style-type: none;
}
.profileMenu li a {
    color: #000000;
    text-decoration: none;
}
.profileMenu li a i {
    color: #ffac00;
    width: 30px; 
}
.profileMenu li:not(:first-child) {
    padding: 15px 0px 15px 0px;
}
.profileMenu li:not(:last-child) {
    border-bottom: 1px solid #e1e8ea;
}
.profileMenu li:first-child {
    padding: 8px 0px 15px 0px;
}
.profileMenu li:last-child {
    padding: 15px 0px 8px 0px;
}
::ng-deep .profilemainmenu.mat-menu-panel {
    margin-top: 25px;
}

::ng-deep .mat-select-value{
    color: rgb(243, 239, 239);
 }