<form [formGroup]="myForm" class="example-form" (submit)="find()">
    <div class="row" style="background-color: white;">
        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Search product</mat-label>
                <input matInput type="text" placeholder="Ex. Patabji" formControlName="query">
            </mat-form-field>
            <button mat-button *ngIf="this.myForm.controls['query'].value!=''" matSuffix mat-icon-button
                aria-label="Clear" (click)="fetch()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="col-md-1"><button #search mat-button type="submit">
                <span class="material-icons">
                    search
                </span>
            </button>
        </div>
    </div>
</form>

<mat-table [dataSource]="products">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="picture">
        <mat-header-cell *matHeaderCellDef> Picture </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <img width="20%" src={{element.picture[0]}} class="rounded-circle" alt="Unavailable" loading="lazy"> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="variants">
        <mat-header-cell *matHeaderCellDef> variants </mat-header-cell>
        <mat-cell *matCellDef="let element">

            <table>
                <tr *ngFor="let varient of element.variants">
                    <td>{{varient.name}}</td>
                    <td> <i class="fa fa-inr"></i>{{varient.price}}</td>
                </tr>
            </table>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="add(element)">
                <mat-icon>add</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


<mat-paginator [pageSizeOptions]="[5,10, 20]" (page)="fetch()">
</mat-paginator>
<ngx-spinner bdColor="rgba(255,255,255, 0.5)" color="#673AB7" type="ball-beat la-dark">
</ngx-spinner>