
        <button mat-raised-button (click)="add()">Add new</button>
        <div *ngIf="this.result.length>0;else noproduct">
            <mat-table [dataSource]="result" class="mat-elevation-z8">
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef> title </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.item.title}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                       <mat-slide-toggle (click)="fetch1()" [(ngModel)]="element.active"></mat-slide-toggle>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.item.type}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="sequence">
                    <mat-header-cell *matHeaderCellDef> Sequence </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.sequence}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button  matTooltip="Edit this item"  mat-icon-button color="primary"
                            (click)="edit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button matTooltip="Delete this item" mat-icon-button color="warn" (click)="delete(element.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <ng-template #noproduct>
            <div class="jumbotron d-flex align-items-center">
                <div class="container">
                    <h2>No collections in this store yet, Please use master product page to add items in this store.</h2>
                </div>
            </div>
        </ng-template>
<ngx-spinner bdColor="rgba(255,255,255, 0.5)" color="#673AB7" type="ball-beat la-dark">
</ngx-spinner>
