<form [formGroup]="varientForm">
    <div class="row">
        <h2>{{this.data.name}},{{this.data.varient.name}}</h2>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>price</mat-label>
                <input (keypress)="numberOnly($event)" matInput placeholder="price" formControlName="price" required>
            </mat-form-field>
            <div class="alert alert-danger"
                *ngIf="this.varientForm.controls['price'].value>this.varientForm.controls['mrp'].value">
                Price can't be greater than MRP
            </div>

            <div class="alert alert-danger"  *ngIf="this.varientForm.controls['price'].getError('required')">
                Price is required.
            </div>

            <!-- <div class="alert alert-danger" *ngIf="this.varientForm.controls['price'].errors">
                <sup>*</sup> Price can't be greater than MRP
            </div> -->
        </div>


        <div class="col">
            <mat-form-field>
                <mat-label>MRP</mat-label>
                <input required [(ngModel)]="mrp" (keypress)="numberOnly($event)" matInput placeholder="mrp"
                    formControlName="mrp">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-slide-toggle formControlName="is_available">Available</mat-slide-toggle>
        </div>

        <div class="col">
            <mat-slide-toggle formControlName="is_available">Active</mat-slide-toggle>
        </div>

        <div class="col">
            <mat-slide-toggle formControlName="is_allow_backorder">Allow backorder</mat-slide-toggle>
        </div>

        <div class="col">
            <mat-form-field>
                <mat-label>Stock</mat-label>
                <input matInput (keypress)="numberOnly($event)" placeholder="stock" formControlName="stock">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-2">
        <button [disabled]="this.varientForm.invalid" class="mr-2" mat-raised-button color="primary"
            (click)="save()">Save</button>
        <button mat-raised-button color="primary" (click)="close()">Close</button>
    </div>
</form>