<div class="row" style="background-color: white;">
    <button mat-button (click)="add()">
        <span class="material-icons">
            post_add
        </span>
    </button>
</div>
<div *ngIf="this.result.length>0;else noproduct">
    <mat-table [dataSource]="result">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="picture">
            <mat-header-cell *matHeaderCellDef> Picture </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <img *ngIf="element.image_url" width="20%" src={{element.image_url}} class="" alt="Image unavailable">
                <img *ngIf="!element.image_url" width="20%"
                    src="https://s3.shunyafoundation.com/s3/62fb0092aaed7a3bbdc452e9cda3d9ed0a8bb7e0/no-image.png"
                    class="" alt="Image unavailable">
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-slide-toggle (click)="fetch1()" [(ngModel)]="element.active"></mat-slide-toggle>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sequence">
            <mat-header-cell *matHeaderCellDef> Sequence </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.sequence}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tag">
            <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <label *ngIf="element.tag">{{element.tag.name}}</label>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="edit(element)">
                    <mat-icon>edit</mat-icon>
                </button>


                <button mat-icon-button color="warn" (click)="delete(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <mat-paginator [length]="length" [pageSizeOptions]="[10,50, 100,result.length]" (page)="fetch()">
    </mat-paginator>
</div>
<ng-template #noproduct>
    <div class="jumbotron d-flex align-items-center">
        <div class="container">
            <h2>No collections in this store yet, Please use master product page to add items in this store.</h2>
        </div>
    </div>
</ng-template>
<ngx-spinner bdColor="rgba(255,255,255, 0.5)" color="#673AB7" type="ball-beat la-dark">
</ngx-spinner>